@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Random Passcode (#@ViewBag.Count)</h1>
    <h2>@ViewBag.RandomPass</h2>
    <button onclick="window.location.reload()">Generate</button>
</div>
